.DS_Store
/node_modules
/cache
/app/cache
/bower_components
/.rocketeer
/.idea
/modules
/test
/.env
/.phalcon
/public/upload
/public/src
/composer.lock
/.idea
/.idea_modules
/.vagrant
/Vagrantfile
/phalcon.bat
/prod.env
/preprod.env
/public/upload
/cli.env
/public/resources/i18n/
/public/resources/i18n/*.json
/public/resources/i18n/*/*.json
/resources/extensions/*.php
/resources/generated/*.php
Testjson.php
TestjsonItem.php
TestjsonTask.php
*.ini.
/configurations
/.configuration/pem
/.configuration/pem/
/.configuration/.credentials
/public/resources/css
/public/frontend/css/
/public/resources/fonts/
/public/resources/js/
/public/resources/views/base-modules
/public/apps/
/public/libraries/
Vagrantfile
package.box
/addon/content.zip
/public/tmp
/engine/constant/constant.php
/private/common/lib/application/constant/constant.php
/.temp
/package-lock.json
/.deployer/vendor
/tmp
/app/config/config.ini
app/config/config.ini
variables.env
local.env
app/docjs
info.php
.deployer.zip
test_html.html
/.env_backup
.env
